@charset "UTF-8";

:root {
    --color1: #ededed;
    --color2: #a2d0ef;
    --color3: #c7c6f3;
    --color4: #ffc303;
    --color5: #fd9492;
}

@media screen and (min-width: 650px) and (max-width:992px){
    
    body {
        background-image: linear-gradient(to top, var(--color2), var(--color4));
    }

    section#login {
        width: 80vw;
        height: 300px;
    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 993px){

    body {
        background-image: linear-gradient(to top, var(--color2), var(--color4));
    }

    section#login {
        width: 930px;
        height: 400px;
    }

    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
    }

    div#form > h1{
        font-size: 2em;
    }

    div#form > p{
        font-size: 1.2em;
        margin: 24px 8px 32px 8px;
    }

  
}