/* All other medias */

/* Typical Device Breakpoints
Phone: max 480px. ---> MOBILE FIRST DEFAUT
Tablet: 481px — 768px.
Laptops: 769px — 1024px.
Desktop: 1025px — 1200px.
Big Screens: 1201px, and more.
*/

/* Media print */
@media print { 

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../img/back-print.jpg);/* It doesn't work because url aren't printed*/
    }

    main {
        border: 2px solid black;
        height: 50vh;
    }
    
    h1 {
        color: black;
        text-shadow: none;
    }

    img#phone {
        display: none;
    }

    img#print {
        display: block;
    }

    main::after {
        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.';
        text-decoration: underline;
    }
}

/* tablet */
@media screen and (min-width: 701px) and (max-width: 900px) {
    body {
        background-image: url(../img/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
        margin: auto;
    }

    main {
        width: 500px;
    }
}

/* Desktop */
@media screen and (min-width: 901px) and (max-width: 1200px) {
    body {
        background-image: url(../img/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#pc {
        display: block;
    }

    main {
        width: 600px;
    }
}

/* Big Screens */
@media screen and (min-width: 1201px) {
    body {
        background-image: url(../img/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tv {
        display: block;
    }

    main {
        width: 700px;
    }
}