@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to top, #22BABB, #9EF8EE);
    background-attachment: fixed;
}
main{
    background-color: white;
    width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #34888856;
}
h1{
    color: #F24405;
    text-align: center;
    text-shadow: 1px 1px 3px #a72f0394;
}
h2{
    color: #FA7F08;
}
p{
    text-align: justify;
}