@charset "UTF-8";

h1{
    padding: 20px;
    border: 19px solid transparent;
    /* border-image-source: url(../img/borda.png);
    border-image-slice: 24;
    border-image-repeat: repeat; */

    border-image: url(../img/borda.png) 24 repeat;
}