@charset "UTF-8";

.bloco {
    background-image: url(../img/wallpaper003.jpg);
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
#s1 {
    background-position: left top;
}
#s2 {
    background-position: left center;
}
#s3 {
    background-position: right bottom;
}
#s4 {
    background-position: center center;
}