@charset "UTF-8";

h1{ /*BOX-LEVEL*/
    background-color: lightslategray;
    height: 300px;
    width: 300px;

    /* border-width: 10px;
    border-style: solid;
    border-color: red;*/

    border: 10px solid red;

    padding: 10px 10px 10px 10px;

    margin: 20px auto 40px auto;

    /* outline-width: 10px;
    outline-style: dashed;
    outline-color: blueviolet; */

    outline: 5px dashed salmon;
}
a{
    /* border-width: 10px;
    border-style: solid;
    border-color: aqua;*/

    display: block;

    border: 10px solid yellow;

    padding: 10px 1px 10px 10px;;
}