@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}
nav{
    background-color: rgb(128, 128, 128);
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
nav>a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
nav>a:hover{
    text-decoration: underline;
}
nav>a:active{
    color: black;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.37);
}
article{
    background-color: gray;
    padding: 5px;
}
article>aside
{
    background-color: rgba(70, 70, 70, 0.342);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}
footer>p{
    margin: 4px;
}
